@model IEnumerable<Models.Student>

@{
    /* Regrouper les étudiants par les 4 premiers caractères de leur code (l'année)
       et ordonner les groupes du plus récent au plus ancien */
    var groupedStudents = Model.GroupBy(s => s.Code.Substring(0, 4)).OrderByDescending(g => g.Key);
}


@foreach (var group in groupedStudents)
{
    /* Boucler à travers chaque groupe d'année */
    /* <details open> crée une section repliable, open signifie expansé par défaut */
    /* <summary> est l'en-tête cliquable affichant "Cohorte 2026" */
    /* Boucler à travers les étudiants dans chaque groupe, triés par nom de famille */
    /* Afficher le code, le nom et le prénom comme lien cliquable vers les détails */
    <details open>
        <summary>Cohorte @group.Key</summary>

        @foreach (var student in group.OrderBy(s => s.LastName))
        {
            <div class="studentLayout">

                <a href="/Students/Details/@student.Id" title="Voir les détails de @student.FirstName">
                    @student.Code @student.LastName @student.FirstName
                </a>
            </div>
        }
    </details>
}